<div class="umb-property-editor umb-property-editor--limit-width" ng-controller="Umbraco.Community.Hotspots.PrevalueEditors.SourceImageController as vm">

  <div>
    <div class="flex mb2" style="gap: 1rem;">
      <umb-radiobutton
          name="type"
          value="media"
          model="model.value.type"
          text="Media">
      </umb-radiobutton>
      <umb-radiobutton
          name="type"
          value="staticAsset"
          model="model.value.type"
          text="Static Asset">
      </umb-radiobutton>
    </div>

    <div ng-if="model.value.type === 'media'" class="umb-media-card-grid">
      <umb-media-card
        ng-if="model.value.mediaKey"
        media-key="model.value.mediaKey"
        on-name-clicked="vm.editMedia(media, $index, $event)">
        <div class="__actions">
          <button type="button" class="btn-reset __action umb-outline" localize="title" title="general_remove" ng-click="vm.removeMedia(media, $event)">
            <umb-icon icon="icon-trash" class="icon"></umb-icon>
          </button>
        </div>
      </umb-media-card>
      <button
        type="button"
        class="btn-reset umb-media-card-grid__create-button umb-outline"
        ng-if="!model.value.mediaKey"
        ng-click="vm.addMedia(model.value.length, $event)">
        <div>
            <umb-icon icon="icon-add" class="icon large"></umb-icon>
            <localize key="general_add">Add</localize>
        </div>
      </button>
    </div>
    <div ng-if="model.value.type === 'staticAsset'" class="umb-media-card-grid">
      <div class="umb-media-card" ng-if="model.value !== null && model.value.src !== null">
        <div class="__showcase">
          <umb-media-preview
            ng-if="vm.image"
            source="vm.image.source"
            extension="vm.image.extension"
            name="vm.image.name">
          </umb-media-preview>
        </div>
        <div class="__actions" ng-if="model.value.src !== null">
          <button type="button"
                  class="btn-reset __action umb-outline"
                  localize="title"
                  title="general_remove"
                  ng-click="vm.clear($event)">
            <umb-icon icon="icon-trash" class="icon"></umb-icon>
          </button>
        </div>
      </div>
      <button
        type="button"
        class="btn-reset umb-media-card-grid__create-button umb-outline"
        ng-if="model.value === null || model.value.src === null"
        ng-click="vm.select()">
        <div>
          <umb-icon icon="icon-add" class="icon large"></umb-icon>
          <localize key="general_add">Add</localize>
        </div>
      </button>
    </div>
    
  </div>

  <pre>{{vm.image | json}}</pre>

  <pre>{{model.value | json}}</pre>

</div>
